* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 350px;
  height: 700px;
  border-radius: 20px;
  margin: auto auto;
  text-align: center;
  padding: 15px;
  background-color: black;
}

.App-logo {
  width: 100%;
  padding: 10px;
}

.App-container {
  background-color: #323232;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}
